*

!/Codeforces/
!/Codeforces/**/
!/Nowcoder/
!/Nowcoder/**/
!/HDU/
!/HDU/**/
!/POJ/
!/POJ/**/
!/SPOJ/
!/SPOJ/**/
!/SCU/**/
!/SCU/
!/CSP/**/
!/CSP/
!/region/**/
!/region/
!*.md
!*.gitignore
!*.cpp
!*.c
!*.h
!*.sh
